@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> This application can record customers' personal information and according their own account to record their order.</p>
<p> Customer has first name, last name and address in their personal information.</p>
<p> Order has information about food type , amount of the food and price of the food.</p>
<p>In order page, concatenate tow column in Customer table and show the result in view order.</p>

