@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Georgian College<br />
    Barrie<br />
    <abbr title="Phone">Phone:</abbr>
    7052794072
</address>

<address>
    <strong>Support:</strong> <a href="200405662@student.georgianc.on.ca">200405662@student.georgianc.on.ca</a><br />
    <strong>Marketing:</strong> <a href="200405662@student.georgianc.on.ca">200405662@student.georgianc.on.ca</a>
</address>
